.status-bar-item{
    font-size: 14px;
}
.news-container {
    max-width: 800px; /* 最大幅を調整 */
    margin: 0 auto; /* 左右中央揃え */
    padding: 3px;
}
.news-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}
.news-list {
    padding: 1px;
}
.news-item {
    background-color: #0c5318;
    color: #fff;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 2px 3px;
    font-size: 14px;
}
.news-link {
    display: flex; /* flexboxで横並びにする */
    align-items: center; /* 垂直方向に中央揃え */
    text-decoration: none; /* リンクの下線を消す */
    padding: 1px 1px;
    background-color: #0c5318; /* 背景色を設定 */
    display: block; /* または inline-block */
    width: 100%; /* 必要に応じて調整 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.news-content {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
}
