/* ヘッダーボタンのスタイル */
.schedule-header {
  display: flex;
  flex-direction: column; /* ボタンを縦に並べる */
  align-items: flex-start; /* ボタン左右配置 */
}
.status-bar {
  background-color: #1c1c1c; 
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  padding: 2px 5px; 
  border-bottom: 1px solid #45423a;
}
.status-bar-item {
  background-color: #536c52;
  padding: 3px 5px;
  font-size: 12px;
  color: #ffffff;
  border: none !important; /* すべての枠線を強制的に消去 */
  margin-left: 5px; 
  cursor: pointer;
}
.schedule-table {
  width: 100%;
  border-collapse: collapse;
}
.schedule-table th {
  text-align: center;
  font-size: 10px; /* ヘッダーのフォントサイズをさらに小さく */
}
.schedule-table-container { /* スクロールを有効にするためのコンテナ */
  overflow-x: auto;
}
.schedule-table td:nth-child(1) {
  width: 60px; 
  width: auto; 
}
.schedule-table td:nth-child(2) {
  width: 35px;
  width: auto; 
}
.schedule-table td:nth-child(3) {
  width: 70%; 
  width: auto; 
}
.schedule-table td {
  padding: 3px; /* セルのパディングを小さく */
  border-bottom: 1px solid #45423a;
  font-size: 13px; /* セルのフォントサイズをさらに小さく */
  overflow: hidden; /* セルの内容がはき出した場合の処理 */
  white-space: nowrap; /* 単語の途中で改行しない */
}
.schedule-table th,
.schedule-table td {
  color: #ffffff;
  background-color: #212121; /* ダークグレーの背景 */
  border: 1px solid #45423a;
}
.schedule-date {
  margin-bottom: 5px;
}
.schedule-date h2 {
  color: #ffffff; /* 白 */
  margin-bottom: 0px; /* 見出しとテーブル間の余白 */
}
.schedule-date-title {
  font-size: 12px; /* 例: タイトルのフォントサイズ */
}
