/* ヘッダーボタンのスタイル */
.schedule-header {
  display: flex;
  flex-direction: column; /* ボタンを縦に並べる */
  align-items: flex-end; /* ボタンを左寄せ */
  font-size: 0.7rem;
}
.header-button {
  background-color: #3a5b02; /* 背景を透明にする */
  border: none; /* ボーダーを消す */
  color: #e0e0e0; /* テキストカラーを明るいグレーにする */
  padding: 1px 5px; /* パディングを調整 */
  margin-bottom: 1px; /* ボタン間の余白 */
  font-size: 0.7rem;
  cursor: pointer; /* カーソルをポインターにする */
  text-decoration: none; /* リンクの装飾を消す */
}
.schedule-table {
  width: 100%;
  border-collapse: collapse;
  /*table-layout: fixed;*//*表をモバイルに固定化*/
}
.schedule-table td:nth-child(1) {
  width: 60px; 
}
.schedule-table td:nth-child(2) {
  width: 35px;
}
.schedule-table td:nth-child(3) {
  width: 70%; 
}
.schedule-table th {
  padding: 3px;
  text-align: center;
  font-size: 0.5rem; /* ヘッダーのフォントサイズをさらに小さく */
}
.schedule-table td {
  padding: 3px; /* セルのパディングを小さく */
  border-bottom: 1px solid #45423a;
  font-size: 0.6rem; /* セルのフォントサイズをさらに小さく */
  overflow: hidden; /* セルの内容がはき出した場合の処理 */
  text-overflow: ellipsis; /* はき出した部分に "..." を表示 */
  white-space: nowrap; /* 単語の途中で改行しない */
}.schedule-table th,
.schedule-table td {
  color: #e0e0e0;
  background-color: #212121; /* ダークグレーの背景 */
  border: 1px solid #45423a;
}
/* 特定の列の幅を指定する場合 */
.schedule-table td:nth-child(3) { /* 3列目の幅を指定 */
  width: auto; 
}
.schedule-date {
  margin-bottom: 10px;
}
.schedule-date h2 {
  color: #ffffff; /* 白 */
  margin-bottom: 3px; /* 見出しとテーブル間の余白 */
}

.schedule-date-title {
  font-size: 0.5rem; /* 例: タイトルのフォントサイズ */
}
